@model PlanetZ.Areas.SiteAdministrator.Models.ChangePasswordVM

@{
    ViewData["Title"] = "Change Password";
}

@if (ViewBag.WrongPassword == "message")
{
    <span class="text-danger">New password and confirm password are not same.</span>
}
@if (ViewData["Error"] != null)
{
    <span class="text-danger">@ViewData["Error"]</span>
}

<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0 text-primary">Change Password</h3>
    </div>
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="PasswordChange" class="form" role="form" autocomplete="off" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div class="justify-content-between d-flex">
                    <label class="text-dark" asp-for="OldPassword">Current Password</label>
                    <a id="passwordBtn" class="text-decoration-none text-dark" href="#"><i class="fa-solid fa-eye-slash d-block icon"></i></a>
                </div>
                <input asp-for="OldPassword" type="password" class="form-control" id="inputPasswordOld" required="">
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-dark" asp-for="NewPassword" for="inputPasswordNew">New Password</label>
                <input asp-for="NewPassword" type="password" class="form-control" id="inputPasswordNew" required="">
                <span class="form-text small text-muted">
                    The password must be 8-20 characters, and must <em>not</em> contain spaces.
                </span>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-dark" asp-for="ConfirmPassword" for="inputPasswordNewVerify">Verify</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="inputPasswordNewVerify" required="">
                <span class="form-text small text-muted">
                    To confirm, type the new password again.
                </span>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $('#passwordBtn').hover(function show() {
            //Change the attribute to text
            $('#inputPasswordOld').attr('type', 'text');
            $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        },
            function () {
                //Change the attribute back to password
                $('#inputPasswordOld').attr('type', 'password');
                $('.icon').removeClass('fa-solid fa-eye').addClass('fa-solid fa-eye-slash');
            });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
