@model Expense
@{
    ViewData["Title"] = "Change Document ";
}

<h1 class="text-primary mb-4">Change Document</h1>

<form asp-action="ChangeDocument" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="text-dark" asp-for="FilePath">Upload Document</label>
        <input type="file" asp-for="FilePath" class="form-control-file" />
        <span asp-validation-for="FilePath" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Change</button>
</form>